<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta name="robots" content="noindex">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Dashboard</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"
      th:href="@{/resources/core/css/bootstrap.min.css}" />
<link th:href="@{/resources/core/css/jquery-ui.css}" rel="stylesheet" />
<style type="text/css">
/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 80px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.review-block{
  background-color:#FAFAFA;
  border:1px solid #EFEFEF;
  padding:15px;
  border-radius:3px;
  margin-bottom:15px;
}
.review-block-name{
  font-size:12px;
  margin:10px 0;
}
.review-block-date{
  font-size:12px;
}
.review-block-rate{
  font-size:13px;
  margin-bottom:15px;
}
.review-block-title{
  font-size:15px;
  font-weight:700;
  margin-bottom:10px;
}
.review-block-description{
  font-size:13px;
}

</style>

  <script src="//code.jquery.com/jquery-3.0.0.min.js"
          th:src="@{/resources/core/js/jquery-3.0.0.min.js}"></script>
  <script th:src="@{/resources/core/js/jquery-migrate-3.0.0.min.js}"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"
          th:src="@{/resources/core/js/bootstrap.min.js}"></script>
  <script src="//code.jquery.com/jquery-1.10.2.min.js"
          th:src="@{/resources/core/js/jquery-ui.js}"></script>

  <script src="https://code.highcharts.com/highcharts.js"
          th:src="@{/resources/core/js/highcharts/highcharts.js}"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"
          th:src="@{/resources/core/js/highcharts/highcharts-more.js}"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"
          th:src="@{/resources/core/js/highcharts/modules/exporting.js}"></script>

  <script type="text/javascript">
      window.alert = function(){};
      var defaultCSS = document.getElementById('bootstrap-css');
      function changeCSS(css){
          if(css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="'+ css +'" type="text/css" />');
          else $('head > link').filter(':first').replaceWith(defaultCSS);
      }
      $( document ).ready(function() {
        var iframe_height = parseInt($('html').height());
        window.parent.postMessage( iframe_height, 'http://bootsnipp.com');
      });

      $(function() {
        $('#container').highcharts({
          chart : {
            polar : true,
            type : 'line'
          },

          title : {
            text : 'Budget vs spending',
            x : -80
          },

          pane : {
            size : '80%'
          },

          xAxis : {
            categories : [ 'Sales', 'Marketing', 'Development',
                'Customer Support', 'Information Technology',
                'Administration' ],
            tickmarkPlacement : 'on',
            lineWidth : 0
          },

          yAxis : {
            gridLineInterpolation : 'polygon',
            lineWidth : 0,
            min : 0
          },

          tooltip : {
            shared : true,
            pointFormat : '<span style="color:{series.color}">{series.name}: <b>${point.y:,.0f}</b><br/>'
          },

          legend : {
            align : 'right',
            verticalAlign : 'top',
            y : 70,
            layout : 'vertical'
          },

          series : [ {
            name : 'Allocated Budget',
            data : [ 43000, 19000, 60000, 35000, 17000, 10000 ],
            pointPlacement : 'on'
          }, {
            name : 'Actual Spending',
            data : [ 50000, 39000, 42000, 31000, 26000, 14000 ],
            pointPlacement : 'on'
          } ]

        });
      });
    </script>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> <span
            class="icon-bar"></span> <span class="icon-bar"></span> <span
            class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">AWS</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse"
        id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <!--
          <li><a href="#" th:href="@{/login}">Login</a></li>
          -->
            <li class="dropdown" sec:authorize="isAuthenticated()">
              <a th:href="@{/logout}">
                Logout
              </a>
            </li>
            <li class="dropdown" sec:authorize="isAnonymous()">
              <a th:href="@{/login}">
                Login
              </a>
            </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!--
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->

<div class="container">
    <div class="row profile">

      <div class="col-md-6">
        <div class="profile-sidebar">
          <!-- SIDEBAR USERPIC -->
          <div class="profile-userpic">
            <img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
          </div>
          <!-- END SIDEBAR USERPIC -->
          <!-- SIDEBAR USER TITLE -->
          <div class="profile-usertitle">
            <div class="profile-usertitle-name">
              Marcus Doe
            </div>
            <div class="profile-usertitle-job">
              Developer
            </div>
          </div>
          <!-- END SIDEBAR USER TITLE -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="container" id="container" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div>
      </div> <!-- div class="col-md-6" -->
  </div> <!-- div class="row profile" -->
</div>
<br>
<br>
  <script type="text/javascript">

  </script>
</body>
</html>
