<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Welcome to Tech Fridays!</title>

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet"
    th:href="@{/resources/core/css/bootstrap.min.css}">

<!-- Custom CSS -->
<link href="css/heroic-features.css" rel="stylesheet"
    th:href="@{/resources/core/css/heroic-features.css}">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> <span
            class="icon-bar"></span> <span class="icon-bar"></span> <span
            class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">AWS</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse"
        id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <!--
          <li><a href="#" th:href="@{/login}">Login</a></li>
          -->
            <li class="dropdown" sec:authorize="isAuthenticated()">
              <a th:href="@{/logout}">
                Logout
              </a>
            </li>
            <li class="dropdown" sec:authorize="isAnonymous()">
              <a th:href="@{/login}">
                Login
              </a>
            </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
      <h1>Welcome to Tech Fridays</h1>
      <p>Where great minds meet</p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
      <div class="col-lg-12">
        <h3>Latest Features</h3>
      </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <img src="http://placehold.it/800x500"
            th:src="@{/resources/core/images/features/login.png}" alt="">
          <div class="caption">
            <h3>Login Page</h3>
            <p>Where awesome people enter</p>
            <p>
              <a href="#" class="btn btn-default" >More Info</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <img src="http://placehold.it/800x500"
            th:src="@{/resources/core/images/features/dashboard.png}" alt="">
          <div class="caption">
            <h3>Dashboard</h3>
            <p>What's happening?</p>
            <p>
              <a th:href="@{dashboard}" class="btn btn-default">More Info</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <img src="http://placehold.it/800x500"
            th:src="@{/resources/core/images/features/topic_reg.png}" alt="">
          <div class="caption">
            <h3>Topic Registration</h3>
            <p>What do you want covered?</p>
            <p>
              <a href="#" class="btn btn-default">More Info</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <img src="http://placehold.it/800x500"
            th:src="@{/resources/core/images/features/feedback.png}" alt="">
          <div class="caption">
            <h3>Feedback</h3>
            <p>Give some luv'</p>
            <p>
              <a href="#" class="btn btn-default">More Info</a>
            </p>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

    <div class="row text-center">

      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <img src="http://placehold.it/800x500"
            th:src="@{/resources/core/images/features/login.png}" alt="">
          <div class="caption">
            <h3>Scheduler</h3>
            <p>Who's the next awesome presentor?</p>
            <p>
              <a href="#" class="btn btn-default" >More Info</a>
            </p>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; Jonathan Salatan 2016</p>
        </div>
      </div>
    </footer>

  </div>
  <!-- /.container -->

  <!-- jQuery -->
  <script src="js/jquery.js"
    th:src="@{/resources/core/js/jquery.js}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"
    th:src="@{/resources/core/js/bootstrap.min.js}"></script>

</body>

</html>
