<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script th:src="@{/resources/core/js/jquery-3.0.0.min.js}"></script>
    <script th:src="@{/resources/core/js/jquery-migrate-3.0.0.min.js}"></script>
    <script th:src="@{/resources/core/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/core/js/jquery-ui.js}"></script>
    <script th:src="@{/resources/core/js/ct-navbar.js}"></script>

    <link th:href="@{/resources/core/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/resources/core/css/navbar-fixed-top.css}" rel="stylesheet" />
    <link th:href="@{/resources/core/css/jquery-ui.css}" rel="stylesheet" />
    <link th:href="@{/resources/core/css/ct-navbar.css}" rel="stylesheet" />
    <link th:href="@{/resources/core/css/pe-icon-7-stroke.css}" rel="stylesheet" />
<!--
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
    </body>
 -->
    <title>Login page</title>
    <link th:href="@{/resources/core/css/signin.css}" rel="stylesheet"></link>

<body>
    <div class="container">

      <form th:action="@{/login}" method="post" class="form-signin">
        <div class="alert alert-danger" th:if="${param.error != null}">
          <p>Invalid username and password.</p>
        </div>
        <div class="alert alert-success" th:if="${param.logout != null}">
          <p>You have been logged out successfully.</p>
        </div>
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <!-- TODO: Remember me
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
         -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->

</body>
</html>